<div class="board">
  <% @game.all_cells.each do |row| %>
    <div class="row">  
      <% row.each do |cell| %>
        <% if cell.state == "alive" %>
          <div class="cell alive"></div>
        <% else %>
          <div class="cell dead"></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>