!!!
%html
  %head
    %title The Game of Life
    %link{:href=>"/styles/normalize.css", :type=>"text/css", :rel=>"stylesheet"}
    %link{:href=>"/styles/style.css", :type=>"text/css", :rel=>"stylesheet"}
  %body
    %h1 The Game of Life!
    = yield