<!DOCTYPE html>
<html>
  <head>
    <title>The Game of Life</title>
    <link href="/styles/normalize.css" type="text/css" rel="stylesheet"/>
    <link href="/styles/style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <h1>The Game of Life!</h1>
    <%= yield %>
  </body>
</html>