body {
  font-family: courier, monospace;
  padding: 20px;
}

footer {
  margin-top: 50px;
}

.description {
  width: 50%;
  display: inline-block;
}

.board {
  display: inline-block;
  margin: 0 35px;
  position: absolute;
  top: 85px;
}

.row {
  white-space: nowrap;
  margin-bottom: -4px;
}

.cell-container {
  display: inline-block;
}

.cell {
  height: 15px;
  width: 15px;
  margin: 1px;
  border-radius: 20%;
}

.alive {
  background-color: black;
}

.dead {
  background-color: red;
}