body {
  font-family: courier, monospace;
  padding: 20px;
}

.row {
  white-space: nowrap;
  margin-bottom: -4px;
}

.cell-container {
  display: inline-block;
}

.cell {
  height: 15px;
  width: 15px;
  margin: 3px;
  border-radius: 20%;
}

.alive {
  background-color: black;
}

.dead {
  background-color: red;
}