body {
  font-family: courier, monospace;
  padding: 20px;
}

.row {
  white-space: nowrap;
}

.cell-container {
  display: inline-block;
}

.cell {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 2px;
  border-radius: 20%;
}

.alive {
  background-color: black;
}

.dead {
  background-color: red;
}